# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Dependecies
_deps/*

# Built files
build/

# CMake Files
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
compile_commands.json
CMakeCache.txt
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake

# Makefile
Makefile

# Test binaries
test/bin/

# Demo binary
terminalui-demo